@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

* {
  width: 100%;
  font-family: "Sono", sans-serif;
  text-decoration: none;
}
h1 {
  /* letter-spacing: 10%; */
  font-size: 45px;
  padding-top: 2%;
  text-align: center;
  width: 100%;
}
h2 {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.row {
  align-items: center;
  width: 90%;
  max-width: var(--max-width);
  margin: 0px auto 1rem;
  display: grid;
  /* gap: 2rem 0rem; */
  grid-auto-rows: 350px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card {
  align-items: center;
  box-shadow: 0px 2px 4px rgba(5, 5, 5, 0.904);
  cursor: pointer;
  width: 350px;
  height: 280px;
  /* background: red; */
}

.card-img img {
  width: 350px;
  height: 200px;
}

.card h2 {
  text-align: center;
  font-size: 25px;
  color: black;
  text-decoration: none;
}
